/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-tab-label {
    height: 15px !important;
    padding: 0px 10px !important;
    min-width: 15px !important;
    opacity: 0;
}

/* .mat-tab-list .mat-tab-labels .mat-tab-label-active { */
    /* color: yellow; */
    /* background-color: green; */
  /* } */
/* .mat-focus-indicator {
    color: brown !important; 
} */

.mat-tab-nav-bar:active
{
    color: #00ADEE !important;
}

.mat-ink-bar{
    background-color: yellow !important;
    display:block;
    height: 2px !important;
}

.mat-tab-label.mat-tab-label-active {
    min-width: 25px;
    background-color: transparent;
    color: red;
}

/* .mat-tab-label-content {
    padding: 5px 10px 15px 5px !important;
} */

mat-tab-group.mat-tab-group.ng-tns-c53-0.mat-primary {
    font-size: large;
}

.mat-tab-label-content {
    font-size: large;
    padding: 3px 3px 3px 3px;
}

.mat-tab-label-container {
    padding: 0px 5px 0px 15px;
}

.mat-tab-body-content {
    padding-top: 20px;
    padding-right: 0px;
}

.mat-tab-labels > .mat-tab-label:first-child {
    display: none;
  }

  table {
    border-collapse: collapse;
    text-indent: initial;
    /* border-spacing: 2px; */
    border-spacing: 20px;
    padding: 5px 5px 5px 5px;
}